# Virtual Environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Python build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
data/